.container{
    font-family: sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: blanchedalmond;
}

.input,textarea{
    font-family: sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 8px 5px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: blanchedalmond;  
}

.submit{
    font-family: sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 8px 5px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: darkgrey; 
}